extends layout

block content
  link(rel='stylesheet', href='/stylesheets/styleS.css')
  body
    .container-fluid.container-800
      h1.font-italic Register Music
      form.form-group(method="post" action="/create")
        .row
          .col-sm-6.col-lg-3
            input(type="text" name="name" required placeholder="name" autocomplete="off").form-control.mb-2
          .col-sm-6.col-lg-3
            input(type="text" name="artist" placeholder="artist" autocomplete="off").form-control.mb-2
          .col-lg-6
            input(type="text" name="url" size="40" placeholder="url" autocomplete="off").form-control.mb-2
          .col-sm-5
            .d-flex.justify-content-center.my-2
              p.mr-2 type
              .form-check.form-check-inline
                input(type="radio" name="type" value="instrumental" checked)#_instrumental.form-check-input
                label(for="_instrumental").form-check-label Instrumental
                input(type="radio" name="type" value="song")#_song.form-check-input
                label(for="_song").form-check-label Song
          .col-sm-7
            .d-flex.justify-content-center.my-2
              p.mr-2 attribute
              .form-check.form-check-inline
                input(type="radio" name="attribute" value="" checked)#_none.form-check-input
                label(for="_none").form-check-lebel None
                input(type="radio" name="attribute" value="comfortable")#_comfortable.form-check-input
                label(for="_comfortable").form-check-label.comfortable Comfortable
                input(type="radio" name="attribute" value="dark")#_dark.form-check-input
                label(for="_dark").form-check-label.dark Dark
        textarea(name="note" placeholder="note").form-control.mb-4
        .text-center
          button(type="submit").btn.btn-outline-dark Put Away!